language: python

os:
  - linux

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7

addons:
  apt:
    packages:
      - python-numpy
      - python3-numpy
      - python-setuptools

install:
  - pip install --upgrade pip
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then pip install bokeh; fi

script:
  python setup.py test
